<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBnpT6CRGlsRriwHVhZpyVQqdMlltPMuAc</string>
	<key>GCM_SENDER_ID</key>
	<string>186254572490</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sites2app</string>
	<key>PROJECT_ID</key>
	<string>flutterapp-edf04</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterapp-edf04.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:186254572490:ios:4b2571682732f729f36d33</string>
	<key>DATABASE_URL</key>
	<string>https://flutterapp-edf04-default-rtdb.firebaseio.com</string>
</dict>
</plist>